.navBar {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 1.5rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.navHeader {
  margin-right: auto;
  margin-left: 10px;
}

.navLink {
  margin-right: 10px;
  text-decoration: none;
  color: black;
}

a {
  margin-right: 10px;
  background-color: transparent;
}
